*{
    font-family: 'Poppins', sans-serif;
}




.home-ul{
   text-decoration: none;
   list-style: none;
   display: flex;
   justify-content: flex-end;
   padding: 0 40px;
   margin-top: 80px;
}

.home-a{
    color: black;
    font-size: 20px;
    padding: 0 10px;
    font-weight: 400px;
    list-style: none;
    text-decoration: none;
}

.active{
    color: #FF6464;
}

#leftSection, #rightSection{
    padding: 50px 0;
    width: 50%;
    line-height: 35px;
    letter-spacing: 3px;
}

#leftSection{
    animation: fadeLeft 1.5s forwards ease-in-out;
}

.sect-1{
    padding: 0 40px;
    display: flex;

}

h1{
    font-size: 70px;
}
#rightSection img{
    float: right;
    width: 55%;
    position: relative;
}




@keyframes fadeLeft {
    from{
        opacity: 0;
        transform: translateX(1em);
    }

    to{
        opacity: 1;
        transform: translateX(4em);
    }
}

.home-a::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .home-a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .home-a::before {
    content: " ";
    display: block;
    position: absolute;
    inset: 35px 0 0 0;
    height: 2px;
    width: auto;
    background: #142850;
    z-index: -1;
    transition: transform .3s ease;
  }
  
  .home-a{
    position: relative;
    font-size: 1.2rem
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }
  

  
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }

#leftSection button{
    background-color: #FF6464;
    border: 0;
    padding: 15px;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.sect-two{
    background: #EDF7FA;
    padding: 70px 100px;
    margin: 0;
}

#sect-two-first-child{
    display: flex;
    justify-content: space-between;
}

#sect-two-first-child h3{
    font-size: 22px;
}

#sect-two-first-child a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
    text-decoration: none;
}

#sect-two-second-child{
    display: flex;
    justify-content: space-between;
}

.sect-two-left{
    background-color: #fff;                 
    width: 43%;
    padding: 20px 27px;
    border-radius: 4px;
}

.sect-two-right{
    background-color: #fff;
    width: 43%;
    padding: 20px 27px;
    border-radius: 4px;
}

.title p {
    margin: 0;
}
.title p:nth-child(even) {
    padding: 0px 25px;
}
.title {
    display: flex;
    margin: 26px 0;
}

.sect-three {
    padding-block: 60px;
}

.sect-three>p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
    margin: 0 100px;
}

.sect-three>div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0;
    margin: 0 90px;
}

.sect-three .img-container {
    width: auto;
}

.sect-three>div>.work-container {
    margin-inline-start: 2rem;
    flex-grow: 1;
    width: auto;
}

.sect-three-date {
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.sect-three>div h5 {
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
}

.sect-three>div p {
    margin: 0;
}

.sect-three-date>.year {
    background: #142850;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 0px 13px;
    margin-right: 20px;
}

.sect-three-date>.category {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.sect-three img{
    width: 300px;
    border-radius: .5em;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
.footer-icons {
    margin: 0 15px;
}